.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 5vw);
    grid-gap: 5px;
}

.gallery__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}